/*Contains valid CSS;/*
body:valid
input:valid
  body {background-color: #00b3e6;
    .MyDiv:
    .width size:700px
     margin:auto/*center our element;*/
     font-family:Helvetica
     background-color:white 
    "padding":30px:/*creates an invisible space around the element;*/
    
     .main-header:/*contains valid CSS;/*
          .with-pixels{
      .font-size:22px} 
     .perspective-questions:/*undefined;/*
      .italic:font-style:italic